
.productRoot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.leftHalf {
    width: 75vw;
}

.rightHalf {
    width: 27vw;
    height:  75vh;
}

.bottomPart {
    height: 25%;
    width: 100%
}

.addToCart, .backordered, .reviewButton {
    color: white;
    border-color: transparent;
    border-radius: 5px;
    width: 40%;
    height: 25%;
    margin-right: 10%
}

.addToCart, .reviewButton {
    background-color: black;
}

.backordered {
    background-color: maroon
}

